html{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body{
  padding: 0px;
  margin:0px;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

div.fondo{
  position:absolute;
  background: url(../img/fondo.png) center;
  height: 1250px;
  width: 1250px
}


div.menu{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #353535;
}

div.menu p{
background-color:#353535 ;
padding:11px 25px;
margin-top: 3px;
margin-right: 100px;
float: right;
color:#fe4918;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
font-size: 1em;
display: inline-block;
transition: all .4s ease;
border: 2px solid #fe4918;
cursor: pointer;
}

div.menu p:hover{
  background-color: #fe4918;
color:white;
}

 div.p input[type=text] {
    width: 100%;
    height: 50px;
    padding: 0px 25px;
    margin: 8px 0;
    border: 2px solid red;
    border-radius: 4px;
    cursor: none!important;
}

/*De aqui empiezan los nodos*/

div.nodop{
  font-family: 'Arial', sans-serif;
  font-size:10px;
  font-weight: normal;
  position: fixed;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
}

div.nodov{
  font-family: 'Arial', sans-serif;
  font-size:10px;
  font-weight: normal;
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
}

/* Edificio D1*/

div.nodop#D1Sanitario{
  position: absolute;
  top: 640px;
  left: 240px;
}

div.nodop#D1204{
  position: absolute;
  top: 640px;
  left: 170px;
}

div.nodop#D1205{
  position: absolute;
  top: 665px;
  left: 135px;
}

div.nodop#D1206{
  position: absolute;
  top: 620px;
  left: 120px;
}

div.nodop#D1207{
  position: absolute;
  top: 595px;
  left: 192px;
}

div.nodop#D1208{
  position: absolute;
  top: 595px;
  left: 213px;
}

div.nodop#D1209{
  position: absolute;
  top: 595px;
  left: 373px;
}

div.nodop#D1210{
  position: absolute;
  top: 778px;
  left: 265px;
}

div.nodop#D1211{
  position: absolute;
  top: 685px;
  left: 345px;
}

div.nodov#D1V0{
  position: absolute;
  top: 618px;
  left: 148px;
}

div.nodov#D1V1{
  position: absolute;
  top: 618px;
  left: 203px;
}

div.nodov#D1V2{
  position: absolute;
  top: 618px;
  left: 240px;
}

div.nodov#D1V3{
  position: absolute;
  top: 618px;
  left: 283px;
}

div.nodov#D1V4{
  position: absolute;
  top: 618px;
  left: 325px;
}

div.nodov#D1V5{
  position: absolute;
  top: 618px;
  left: 366px;
}

div.nodov#D1V6{
  position: absolute;
  top: 650px;
  left: 366px;
}

div.nodov#D1V7{
  position: absolute;
  top: 685px;
  left: 366px;
}

div.nodov#D1V8{
  position: absolute;
  top: 730px;
  left: 366px;
}

div.nodov#D1V9{
  position: absolute;
  top: 778px;
  left: 366px;
}

div.nodov#D1V10{
  position: absolute;
  top: 778px;
  left: 315px;
}

/* Edificio D2 */

div.nodop#D2Sanitario{
  position: absolute;
  top: 880px;
  left: 505px;
}

div.nodop#D2205{
  position: absolute;
  top: 855px;
  left: 658px;
}

div.nodop#D2206{
  position: absolute;
  top: 880px;
  left: 585px;
}

div.nodop#D2207{
  position: absolute;
  top: 935px;
  left: 585px;
}

div.nodop#D2208{
  position: absolute;
  top: 1035px;
  left: 585px;
}

div.nodop#D2209{
  position: absolute;
  top: 1089px;
  left: 574px;
}

div.nodop#D2210{
  position: absolute;
  top: 1089px;
  left: 555px;
}

div.nodop#D2211{
  position: absolute;
  top: 1067px;
  left: 539px;
}

div.nodop#D2212{
  position: absolute;
  top: 1047px;
  left: 539px;
}

div.nodov#D2V0{
  position: absolute;
  top: 1067px;
  left: 562px;
}

div.nodov#D2V1{
  position: absolute;
  top: 1040px;
  left: 562px;
}

div.nodov#D2V2{
  position: absolute;
  top: 985px;
  left: 562px;
}

div.nodov#D2V3{
  position: absolute;
  top: 935px;
  left: 562px;
}

div.nodov#D2V4{
  position: absolute;
  top: 880px;
  left: 562px;
}

div.nodov#D2V5{
  position: absolute;
  top: 855px;
  left: 562px;
}

div.nodov#D2V6{
  position: absolute;
  top: 855px;
  left: 600px;
}

div.nodov#D2V7{
  position: absolute;
  top: 855px;
  left: 505px;
}

div.nodov#D2V8{
  position: absolute;
  top: 855px;
  left: 440px;
}

div.nodov#D2V9{
  position: absolute;
  top: 855px;
  left: 366px;
}

/* Edificio D3 */

div.nodop#D3Sanitario{
  position: absolute;
  top: 685px;
  left: 885px;
}

div.nodop#D3201{
  position: absolute;
  top: 415px;
  left: 765px;
}

div.nodop#D3202{
  position: absolute;
  top: 445px;
  left: 825px;
}

div.nodop#D3203{
  position: absolute;
  top: 508px;
  left: 855px;
}

div.nodop#D3204{
  position: absolute;
  top: 538px;
  left: 855px;
}

div.nodop#D3205{
  position: absolute;
  top: 559px;
  left: 855px;
}

div.nodop#D3206{
  position: absolute;
  top: 588px;
  left: 855px;
}

div.nodop#D3207{
  position: absolute;
  top: 625px;
  left: 902px;
}

div.nodop#D3208{
  position: absolute;
  top: 621px;
  left: 1049px;
}

div.nodop#D3209{
  position: absolute;
  top: 621px;
  left: 1118px;
}

div.nodop#D3210{
  position: absolute;
  top: 621px;
  left: 1171px;
}

div.nodop#D3211{
  position: absolute;
  top: 664px;
  left: 1109px;
}

div.nodop#D3212{
  position: absolute;
  top: 676px;
  left: 921px;
}


div.nodov#D3V0{
  position: absolute;
  top: 642px;
  left: 1171px;
}

div.nodov#D3V1{
  position: absolute;
  top: 642px;
  left: 1109px;
}

div.nodov#D3V2{
  position: absolute;
  top: 646px;
  left: 1049px;
}

div.nodov#D3V3{
  position: absolute;
  top: 650px;
  left: 975px;
}

div.nodov#D3V4{
  position: absolute;
  top: 656px;
  left: 898px;
}

div.nodov#D3V5{
  position: absolute;
  top: 656px;
  left: 830px;
}

div.nodov#D3V6{
  position: absolute;
  top: 574px;
  left: 830px;
}

div.nodov#D3V7{
  position: absolute;
  top: 525px;
  left: 830px;
}

div.nodov#D3V8{
  position: absolute;
  top: 463px;
  left: 806px;
}

div.nodov#D3V9{
  position: absolute;
  top: 442px;
  left: 765px;
}


/* Edificio D4 */

div.nodop#D4Sanitario{
  position: absolute;
  top: 423px;
  left: 546px;
}

div.nodop#D4201{
  position: absolute;
  top: 413px;
  left: 728px;
}

div.nodop#D4207{
  position: absolute;
  top: 325px;
  left: 574px;
}

div.nodop#D4208{
  position: absolute;
  top: 185px;
  left: 574px;
}

div.nodop#D4209{
  position: absolute;
  top: 115px;
  left: 574px;
}

div.nodop#D4212{
  position: absolute;
  top: 95px;
  left: 574px;
}

div.nodop#D4213{
  position: absolute;
  top: 110px;
  left: 635px;
}

div.nodop#D4214{
  position: absolute;
  top: 155px;
  left: 683px;
}

div.nodop#D4215{
  position: absolute;
  top: 280px;
  left: 658px;
}

div.nodop#D4216{
  position: absolute;
  top: 355px;
  left: 645px;
}

div.nodov#D4V0{
  position: absolute;
  top: 115px;
  left: 604px;
}

div.nodov#D4V1{
  position: absolute;
  top: 155px;
  left: 640px;
}

div.nodov#D4V2{
  position: absolute;
  top: 185px;
  left: 608px;
}

div.nodov#D4V3{
  position: absolute;
  top: 250px;
  left: 608px;
}

div.nodov#D4V4{
  position: absolute;
  top: 280px;
  left: 632px;
}

div.nodov#D4V5{
  position: absolute;
  top: 325px;
  left: 610px;
}

div.nodov#D4V6{
  position: absolute;
  top: 355px;
  left: 610px;
}

div.nodov#D4V7{
  position: absolute;
  top: 400px;
  left: 611px;
}

div.nodov#D4V8{
  position: absolute;
  top: 442px;
  left: 600px;
}

div.nodov#D4V9{
  position: absolute;
  top: 442px;
  left: 665px;
}

div.nodov#D4V10{
  position: absolute;
  top: 442px;
  left: 728px;
}
