html{
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

div.fondo{
  background: url(../img/fondo.png) center;
  height: 1250px;
  width: 1250px;
}

div.nodovacio{
  position: absolute;
  height: 23px;
  width: 33px;
  top: 1073px;
  left: 560px;
  background-color: red;
}
