html{
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

div.fondo{
  background: url(../img/fondo.png) center;
  height: 1250px;
  width: 1250px;
}

div.nodo{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
}

div.nodo#nodo01{
  position: absolute;
  top: 25px;
  left: 50px;
}

div.nodo#nodo02{
  position: absolute;
  top: 50px;
  left: 50px;
}
